name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libasound2-dev \
            libudev-dev \
            libx11-dev \
            libxcursor-dev \
            libxi-dev \
            libxrandr-dev \
            libgl1-mesa-dev \
            libxinerama-dev \
            libxcb-shape0-dev \
            libxcb-xfixes0-dev
      - name: Cargo check
        run: cargo check
